<ion-header>
  <ion-navbar color="primary">
    <ion-title>历史质量问题</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="history-question-box">
    <div class="table-box">
      <ion-grid>
        <ion-row>
          <div class="table-box-header">
            <ng-container
              *ngFor="let tableTitleone of tableTitle">
              <ion-col>
                {{ tableTitleone.name }}
              </ion-col>
            </ng-container>
          </div>
        </ion-row>
        <ion-row
          class="table-line"
          *ngFor="let historyQuestionItem of historyQuestionList; let i = index ">
          <ng-container
            *ngFor="let tableTitleone of tableTitle">
            <ion-col>
              <span>{{ historyQuestionItem[tableTitleone.id] }}</span>
            </ion-col>
          </ng-container>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
