page-menu-list {
  .menu-item-box h2{
    color: var(--primary-color);
  }
  .menu-item-box i {
    font-family: "iconfont" !important;
    font-size: 4rem;
    font-style: normal;
    color: var(--primary-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
