// app global css

// mobile tododetail
.q-list
    background-color #fff
    border-style solid
    border-color #e0e0e0
    border-width 1px 0 1px 0
  .q-card
    background-color #fff
  .default-card
    border-top 1px solid #e0e0e0

// infinite scroll to bottom message
.load-more-message
  color #979797
  width 100%
  font-size 0.7rem
  padding 0.5rem 0
  text-align center